.buttonToImport{
    border-radius: 4px;
    background: #A92672;
    width: 140px;
    height: 44px;
    color: #FFF;
    text-align: center;
    font-family: 'Oswald-Medium';
    font-size: 16px;
    line-height: 15px;
    letter-spacing: 0.32px;
    text-transform: uppercase;
}
.buttonToImport:hover{
    width: 145px;
    height: 49px;
}